@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.btn {
  @apply bg-purple-600 text-white px-4 py-2 rounded-lg hover:bg-purple-700 transition;
}
